<%- contentFor('body') %>

<div class='content-area'>
  <h4 id='about-title'>Semente Urbana - Environment Scanner</h4>
  <p id='about-content'>
    Aplicação para leitura de dados climáticos em ambientes fechados
  </p>
</div>